<div class="admin-content">
  <mat-grid-list [cols]="5" rowHeight="460px">
    <mat-grid-tile *ngFor="let item of adminItems">
      <mat-card class="admin-card" (click)="onClick(item.type)">
      <mat-card-header>
        <div mat-card-avatar [ngClass]="item.headerClass"></div>
        <mat-card-title>{{item.title | translate}}</mat-card-title>
        <mat-card-subtitle>{{item.subTitle | translate}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="item.image" [alt]="item.subTitle">
      <mat-card-content>
        <p>{{item.explain | translate}}</p>
      </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
